/fibonaci/nbproject/private/
/sinx/nbproject/private/
/sinx/build/
/so dao/nbproject/private/
/so dao/build/
/soDoiXung/nbproject/private/
/soDoiXung/build/
/docSo/nbproject/private/
/docSo/build/
/bai1/nbproject/private/
/bai1/build/
/đoitien/nbproject/private/
/đoitien/build/
/doitien/nbproject/private/
/doitien/build/
/tamgiaccan/nbproject/private/
/tamgiaccan/build/
/TGcan/nbproject/private/
/TGcan/build/
/TGrong/nbproject/private/
/tamgiacrong/nbproject/private/
/tamgiacrong/build/
/hinhchunhat/nbproject/private/
/hinhchunhat/build/
/buoi1/bai5.10/build/
/buoi1/bai5.10/nbproject/private/
/buoi1/bai5.11/build/
/buoi1/bai5.11/nbproject/private/
/buoi1/bai5.12/build/
/buoi1/bai5.12/nbproject/private/
/buoi1/bai5.6/build/
/buoi1/bai5.6/nbproject/private/
/buoi1/bai5.7/build/
/buoi1/bai5.7/nbproject/private/
/buoi1/bai5.8/build/
/buoi1/bai5.8/nbproject/private/
/buoi1/bai5.9/build/
/buoi1/bai5.9/nbproject/private/
/buoi2/TGcan/build/
/buoi2/TGcan/nbproject/private/
/buoi2/UCLN/build/
/buoi2/UCLN/nbproject/private/
/buoi2/fibonaci/nbproject/private/
/buoi2/hinhchunhat/build/
/buoi2/hinhchunhat/nbproject/private/
/buoi2/sin(x)/nbproject/private/
/buoi2/tamgiacrong/build/
/buoi2/tamgiacrong/nbproject/private/
/buoi3/nbproject/private/
/baitap/nbproject/private/
/baitap/build/
/buoi5/nbproject/private/
/buoi5/build/
/buoi 2/nbproject/private/
/buoi 2/build/
/demo/nbproject/private/
/demo/build/
/buoi 3/nbproject/private/
/buoi 3/build/
/Demo/nbproject/private/
/Demo/build/
/buoi4/nbproject/private/
/buoi4/build/