/NhapXuat/nbproject/private/
/GPTbac2/nbproject/private/
/GPTbac2/build/
/giaithua/nbproject/private/
/giaithua/build/
/soNguyen/nbproject/private/
/bai5.1/nbproject/private/
/bai5.1/build/
/bai5.2/nbproject/private/
/bai5.2/build/
/bai5.3/nbproject/private/
/bai5.3/build/
/bai5.4/nbproject/private/
/bai5.4/build/
/bai5.5/nbproject/private/
/bai5.5/build/
/soNguyen/build/
/bai5.6/nbproject/private/
/bai5.6/build/
/bai5.7/nbproject/private/
/bai5.7/build/
/bai5.8/nbproject/private/
/bai5.8/build/
/bai5.9/nbproject/private/
/bai5.9/build/
/bai5.10/nbproject/private/
/bai5.10/build/
/bai5.11/nbproject/private/
/bai5.11/build/
/bai5.12/nbproject/private/
/bai5.12/build/
/UCLN/nbproject/private/
/UCLN/build/
/sin(x)/nbproject/private/